<mat-toolbar color="primary" class="app-header" *ngIf="currentUser && currentUser.AuthData != ''">
  <button mat-icon-button aria-label="Menu Icon Button" (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="nav-tool-items">
    Produtos App
  </span>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #snav mode="side" class="nav-drawer">
    <mat-nav-list class="nav-menu">
      <a mat-list-item [routerLink]="['/']">Home</a>
      <a mat-list-item [routerLink]="['/produto']">Produtos</a>
    </mat-nav-list>
  </mat-drawer>
    
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>